# System
.DS_Store
.AppleDouble
.LSOverride

# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
bun.lockb
.env
.env.local
.env.*.local
.env.production
.env.development
.env.test

# Build
dist/
build/
out/
cache/
artifacts/
broadcast/

# Editor
.vscode/
.idea/
*.swp
*.swo

# Solidity/Foundry
lib/